@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

header{
    width: 100%;
    height: 400px;
    background-image: url(../assects/img/pexels-mvdheuvel-2284166.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
}

body{
    background-color: rgb(239, 229, 215); 
}



.seccion_titulo{
    width: 100%;
    background-color: #0000003d;
}

.contenedor_titulo{
    width: 50%;
    margin: 80px auto;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.titulo_principal{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.titulo_secundario{
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
}

.btn_titulo{
    width: min-content;
}

.separador{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px 0;
}

nav .material-symbols-outlined {
    font-weight: 700;
    position: relative;
    top: 5px;
}



.go-top-btn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: #fff;
    border: 3px solid #333;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .go-top-btn img {
    width: 50px;
    height: 50px;
  }

  .redes{
    font-size: 30px;
    display: flex;
    justify-content: center;
    
  }

  .redes .fa-brands{
    margin: 10px;
  }

  .redes a{
    color:#000;
    transition: all 1s;
  }
  .redes a:hover{
    scale: 1.5;
  }
  .redes a:visited{
    color:#000;
  }


