
$background-color: rgb(239, 229, 215);
$black-transparent: #0000003d;
$button-background: #fff;
$button-border: #333;


$font-primary: 'Merriweather', serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-style-italic: italic;

$primary: #3498db;
$secondary: #2ecc71;
$font-family-sans-serif: 'Merriweather', serif;
$body-bg: #f4f4f9;
$btn-border-radius: 50px;
