
$background-color: rgb(239, 229, 215);
$black-transparent: #0000003d;
$button-background: #fff;
$button-border: #333;


$font-primary: 'Merriweather', serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-style-italic: italic;
